In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

22/10/30 13:54:08 WARN Utils: Your hostname, tuf-ubu resolves to a loopback address: 127.0.1.1; using 192.168.29.14 instead (on interface enp4s0)
22/10/30 13:54:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/30 13:54:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/10/30 13:54:10 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [11]:
df_pyspark = spark.read.csv('test2.csv', header=True, inferSchema=True)

In [12]:
df_pyspark.show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|  Bhadresh|  25|         4|150000|
|     Jinsi|  24|         4| 75000|
|  Rekhaben|  55|        34|     0|
|Premjibhai|  54|        32|     0|
|  Axitaben|  27|      null| 35000|
|Kishanjiju|null|      null|  null|
+----------+----+----------+------+

In [13]:
df_pyspark.drop('Age').show()

+----------+----------+------+
|      Name|Experience|Salary|
+----------+----------+------+
|  Bhadresh|         4|150000|
|     Jinsi|         4| 75000|
|  Rekhaben|        34|     0|
|Premjibhai|        32|     0|
|  Axitaben|      null| 35000|
|Kishanjiju|      null|  null|
+----------+----------+------+

In [15]:
df_pyspark.na.drop().show()

+----------+---+----------+------+
|      Name|Age|Experience|Salary|
+----------+---+----------+------+
|  Bhadresh| 25|         4|150000|
|     Jinsi| 24|         4| 75000|
|  Rekhaben| 55|        34|     0|
|Premjibhai| 54|        32|     0|
+----------+---+----------+------+

In [21]:
df_pyspark.na.drop(how='any', thresh=3).show()

+----------+---+----------+------+
|      Name|Age|Experience|Salary|
+----------+---+----------+------+
|  Bhadresh| 25|         4|150000|
|     Jinsi| 24|         4| 75000|
|  Rekhaben| 55|        34|     0|
|Premjibhai| 54|        32|     0|
|  Axitaben| 27|      null| 35000|
+----------+---+----------+------+

In [22]:
## Subset
df_pyspark.na.drop(how='any', subset=['Salary']).show()

+----------+---+----------+------+
|      Name|Age|Experience|Salary|
+----------+---+----------+------+
|  Bhadresh| 25|         4|150000|
|     Jinsi| 24|         4| 75000|
|  Rekhaben| 55|        34|     0|
|Premjibhai| 54|        32|     0|
|  Axitaben| 27|      null| 35000|
+----------+---+----------+------+

In [28]:
df_pyspark.na.fill(50).show()

+----------+---+----------+------+
|      Name|Age|Experience|Salary|
+----------+---+----------+------+
|  Bhadresh| 25|         4|150000|
|     Jinsi| 24|         4| 75000|
|  Rekhaben| 55|        34|     0|
|Premjibhai| 54|        32|     0|
|  Axitaben| 27|        50| 35000|
|Kishanjiju| 50|        50|    50|
+----------+---+----------+------+

In [27]:
df_pyspark.na.fill(50, 'Experience').show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|  Bhadresh|  25|         4|150000|
|     Jinsi|  24|         4| 75000|
|  Rekhaben|  55|        34|     0|
|Premjibhai|  54|        32|     0|
|  Axitaben|  27|        50| 35000|
|Kishanjiju|null|        50|  null|
+----------+----+----------+------+

In [34]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age', 'Experience', 'Salary'],
    outputCols = ["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
).setStrategy("median")

In [35]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+----------+----+----------+------+-----------+------------------+--------------+
|      Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+----------+----+----------+------+-----------+------------------+--------------+
|  Bhadresh|  25|         4|150000|         25|                 4|        150000|
|     Jinsi|  24|         4| 75000|         24|                 4|         75000|
|  Rekhaben|  55|        34|     0|         55|                34|             0|
|Premjibhai|  54|        32|     0|         54|                32|             0|
|  Axitaben|  27|      null| 35000|         27|                 4|         35000|
|Kishanjiju|null|      null|  null|         27|                 4|         35000|
+----------+----+----------+------+-----------+------------------+--------------+