## Installing Dependencies

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     -------------------------------------- 281.4/281.4 MB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting py4j==0.10.9.5
  Using cached py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=8193f215b0bcb0e11a7b3387d9fa20f4159c4a916520aea08a7fe4ab5dabb783
  Stored in directory: c:\users\bhadr\appdata\local\pip\cache\wheels\9c\aa\b1\8433fd8b1afe7eb31196cc74a42cd778bcb52636a428da079d
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [4]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 3.8 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: pytz>=2020.1 in /home/bhadresh/miniconda3/envs/pyspark_env/lib/python3.10/site-packages (from pandas) (2022.5)
Collecting numpy>=1.21.0
  Downloading numpy-1.23.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.1/17.1 MB 3.7 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in /home/bhadresh/miniconda3/envs/pyspark_env/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/bhadresh/miniconda3/envs/pyspark_env/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.23.4 pandas-1.5.1

In [40]:
import pyspark

In [41]:
import pandas as pd

In [42]:
pd.read_csv("Book1.csv")

       Name  Age   Experience
0  Bhadresh   25            4
1     Jinsi   24            4

In [43]:
from pyspark.sql import SparkSession

In [44]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [45]:
spark

In [46]:
df_pyspark = spark.read.csv('Book1.csv')
df_pyspark.show()

+--------+---+-----------+
|     _c0|_c1|        _c2|
+--------+---+-----------+
|    Name|Age| Experience|
|Bhadresh| 25|          4|
|   Jinsi| 24|          4|
+--------+---+-----------+

In [47]:
df_pyspark = spark.read.option('header', 'true').csv('Book1.csv')
df_pyspark.show()

+--------+---+-----------+
|    Name|Age| Experience|
+--------+---+-----------+
|Bhadresh| 25|          4|
|   Jinsi| 24|          4|
+--------+---+-----------+

In [48]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [49]:
df_pyspark.head(2)

[Row(Name='Bhadresh', Age='25',  Experience=' 4'),
 Row(Name='Jinsi', Age='24',  Experience=' 4')]

In [50]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |--  Experience: string (nullable = true)

In [65]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()
spark

In [66]:
## read the dataset
df_pyspark = spark.read.option('header', 'true').csv(
    'Book1.csv', 
    inferSchema=True)
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Bhadresh| 25|       4.0|
|   Jinsi| 24|       4.0|
+--------+---+----------+

In [67]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: double (nullable = true)

In [68]:
## read the dataset
df_pyspark = spark.read.csv(
    'Book1.csv',
    header=True,
    inferSchema=True)
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Bhadresh| 25|       4.0|
|   Jinsi| 24|       4.0|
+--------+---+----------+

In [69]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [70]:
df_pyspark.head(2)

[Row(Name='Bhadresh', Age=25, Experience=4.0),
 Row(Name='Jinsi', Age=24, Experience=4.0)]

In [71]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Bhadresh| 25|       4.0|
|   Jinsi| 24|       4.0|
+--------+---+----------+

In [72]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [73]:
df_pyspark.select('Name').show()

+--------+
|    Name|
+--------+
|Bhadresh|
|   Jinsi|
+--------+

In [74]:
df_pyspark.select(['Name', 'Age'])

DataFrame[Name: string, Age: int]

In [75]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'double')]

In [76]:
df_pyspark.describe().show()

+-------+--------+------------------+----------+
|summary|    Name|               Age|Experience|
+-------+--------+------------------+----------+
|  count|       2|                 2|         2|
|   mean|    null|              24.5|       4.0|
| stddev|    null|0.7071067811865476|       0.0|
|    min|Bhadresh|                24|       4.0|
|    max|   Jinsi|                25|       4.0|
+-------+--------+------------------+----------+

In [79]:
df_pyspark = df_pyspark.withColumn(
    'Experience After 2 year', 
    df_pyspark['Experience']+2)

In [80]:
df_pyspark.show()

+--------+---+----------+-----------------------+
|    Name|Age|Experience|Experience After 2 year|
+--------+---+----------+-----------------------+
|Bhadresh| 25|       4.0|                    6.0|
|   Jinsi| 24|       4.0|                    6.0|
+--------+---+----------+-----------------------+

In [82]:
df_pyspark.drop('Experience After 2 year').show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Bhadresh| 25|       4.0|
|   Jinsi| 24|       4.0|
+--------+---+----------+

In [84]:
# renaming Columns
df_pyspark.withColumnRenamed(
    'Experience After 2 year', 'Ex_Af_2').show()

+--------+---+----------+-------+
|    Name|Age|Experience|Ex_Af_2|
+--------+---+----------+-------+
|Bhadresh| 25|       4.0|    6.0|
|   Jinsi| 24|       4.0|    6.0|
+--------+---+----------+-------+